<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>From a dynamic file.</p>
        <img src="/img/GG_Russey-400x400-bw.jpg">
        <p>Created by {{name}}</p>
    </body>
</html>